<template>
  <social-sharing url="https://vuejs.org/"
                title="The Progressive JavaScript Framework"
                description="Intuitive, Fast and Composable MVVM for building interactive interfaces."
                quote="Vue is a progressive framework for building user interfaces."
                hashtags="vuejs,javascript,framework"
                twitter-user="vuejs"
                inline-template>
<div>
<network network="email">
    <i class="fa fa-envelope"></i> Email <v-icon>mdi-email</v-icon>
</network>
<network network="facebook">
  <i class="fa fa-facebook"></i> Facebook <v-icon>mdi-facebook</v-icon>
</network>
<network network="googleplus">
  <i class="fa fa-google-plus"></i> Google + <v-icon>mdi-google-plus</v-icon>
</network>
<network network="line">
  <i class="fa fa-line"></i> Line
</network>
<network network="linkedin">
  <i class="fa fa-linkedin"></i> LinkedIn <v-icon>mdi-linkedin</v-icon>
</network>
<network network="odnoklassniki">
  <i class="fa fa-odnoklassniki"></i> Odnoklassniki
</network>
<network network="pinterest">
  <i class="fa fa-pinterest"></i> Pinterest <v-icon>mdi-pinterest</v-icon>
</network>
<network network="reddit">
  <i class="fa fa-reddit"></i> Reddit <v-icon>mdi-reddit</v-icon>
</network>
<network network="skype">
  <i class="fa fa-skype"></i> Skype <v-icon>mdi-skype</v-icon>
</network>
<network network="sms">
  <i class="fa fa-commenting-o"></i> SMS
</network>
<network network="telegram">
  <i class="fa fa-telegram"></i> Telegram <v-icon>mdi-telegram</v-icon>
</network>
<network network="twitter">
  <i class="fa fa-twitter"></i> Twitter <v-icon>mdi-twitter</v-icon>
</network>
<network network="vk">
  <i class="fa fa-vk"></i> VKontakte
</network>
<network network="weibo">
  <i class="fa fa-weibo"></i> <v-icon>mdi-weibo</v-icon> Weibo
</network>
<network network="whatsapp">
  <i class="fa fa-whatsapp"></i> Whatsapp
</network>
</div>
</social-sharing>
</template>
<script>
export default{
  name:"SocialSharing",
}
</script>
<style>
</style>
