body{
  font-family: 'Crimson Text', serif;
}
div{
  font-family: 'ABeeZee', sans-serif;
}
h1,

h2{
  font-family: 'ABeeZee', sans-serif;
}
.p{
  font-family: 'ABeeZee', sans-serif;
}
span{
  font-family: 'Special Elite', cursive;
}
h4{
 font-family: 'Special Elite', cursive;
}
