<template>
  <div>
    <h1>Blackman Astro Art Collections coming up</h1>
    <span>For centuries, Africans have measured time, seasons and cycles, and direction by the stars. Religion and folklore too reflect this relationship with the heavens; as the culture, mathematics and science of astronomy was captured by early scholars in centres like Timbuktu.</span>
    <v-img
    class="grey lighten-2"
    height="400"
    width="100%"
    alt="Kachaq Africa Astronomy"
        title=" kachaq Astronomy "
    src="https://kiliboid.pythonanywhere.com/media/media/NabtaPlaya_700.jpg"
  >
    <v-layout
      fill-height
      align-center
      pa-3
    >
      <v-flex
        xs12
        md7
        offset-md5
      >
        <h1 class="display-3 font-weight-light">
          NabtaPlaya
        </h1>
        <div class="subheading text-uppercase pl-2 mb-4">
        By the 5th millennium BCE these peoples had fashioned what may be among the world's earliest known archeoastronomical devices (roughly contemporary to the Goseck circle in Germany and the Mnajdra megalithic temple complex in Malta).
        </div>
        <div>
        </div>
        <div class="text-center">
  </div>
      </v-flex>
    </v-layout>
  </v-img>
    <span>Astronomy and Africa have a rich and long-standing relationship that dates back millennia. Ancient Egypt was a world leader in astronomy for many centuries, especially thanks to the School of Alexandria. During the Islamic era, Cairo’s Ibn Yunus Observatory was at the forefront of astronomical research in the 10th century. </span>
  </div>

</template>
<script>
export default{
  head: {
     title: ' kachaq~Astronomy, African Astro Images,Africa Astro Art',
     meta: [
       { hid: 'description', name: 'description', content: 'African Astronomy,Space, African images, photos, gif,  gifs, memes, pictures, new pictures, reaction gifs,African digital art, African Astrology' },
       { hid: 'keywords', name: 'keywords', content: ' African Astrology,  African Astronomy images, photos, gif, gifs, memes, pictures, new pictures, reaction gifs,African landscape, African Astrology photography,digital art, African archeoastronomical' },
       { name: 'viewport', content: 'width=device-width, initial-scale=1' },
       { property:'og:locale' , content:'af:' },
      { property:'og:type' ,content:'website' },
       { property:'og:image' , itemprop: 'image' ,content: 'https://kiliboid.pythonanywhere.com/media/media/NabtaPlaya_700.jpg' },
      { property:'og:title' ,content:'kachaq : Africa Astrology,Africa Astronomy,African Astrology,BlackMan Astronomy Origins' },
      { property: 'og:description' ,content:'Checkout  African Astronomy Art , photography, Astro Signs, BlackMan archeoastronomical ,African landscape,African Astro gifs,and rootsman pics| kachaq' },
      { property:'og:site_name' ,content: 'kachaq' },
      { property: 'og:url' ,content: 'https://kachaq.com/'},
      {name:'twitter:card' ,content: 'summary_large_image'},
      {name:'twitter:description', content:'Checkout  African Astronomy Art , photography, Astro Signs, BlackMan archeoastronomical ,African landscape,African Astro gifs,and rootsman pics| kachaq'},
      { name:'twitter:creator' ,content: '@kachaq2'},
      {name: 'twitter:site', content: '@kachaq'},
      { name:'twitter:title', content:'kachaq~Astronomy : African Astronomy Art,African archeoastronomical Wilding,Africa Space Creature Images'},
      { name:'twitter:image', content:'https://kiliboid.pythonanywhere.com/media/media/NabtaPlaya_700.jpg'},

     ],
     noscript: [
       { innerHTML: 'Body No Scripts', body: true }
     ],
     script: [
       { src: '/head.js' },
       // Supported since 1.0
       { src: '/body.js', body: true },
       { src: '/defer.js', defer: '' }
     ]
   },

}
</script>
<style>
</style>
