<template>
  <div>
    <h1>how to make  {{recipe.Recipe_name}}</h1>
    <div>
      <spam> {{recipe.Recipe_intro}}</spam>

    </div>
    <!--recipe.tile-->
    <h3>food title/name:  {{recipe.Recipe_name}} </h3>
    <v-card
    raised
    class="rounded-card"
    >
      <v-img :src="recipe.RecipeImage" max-height="325" contain></v-img>
    </v-card>

    <div>
      <h3>Ingredients:</h3>
  <!--recipe.ingredients-->
    <h4> {{recipe.Recipe_ingredients}}</h4>

    </div>
    <div>
      <h3>Method/process:</h3>

  <!--recipe.method-->
  <span> {{recipe.Recipe_Procedure}}</span>

    </div>
    <!--recipe.youtubevideo-->
  <div>
    <v-flex
    align-center
    xs12
    sm6
    md12
    lg7
    xl6
    >

      <vue-plyr>
        <div class="plyr__video-embed">

          <iframe
            :src="recipe.Recipe_Youtube"
            allowfullscreen allowtransparency allow="autoplay" width="300" height="300">
          </iframe>
        </div>
      </vue-plyr>

    </v-flex>

  </div>




    <div>

    </div>
  </div>
</template>
<script>
import axios from 'axios'

export default{

data() {
    return {
      structuredData:   {
  "@context": "http://schema.org",
  "@type": "Recipe",
  "author": "Chef Agaba",
  "cookTime": "PT1H",
  "datePublished": "2019-11-12",
  "description": "This is a classic African Royals Recipe served at weddings",
  "image": "https://kiliboid.pythonanywhere.com/media/media/ofada-sauce1.jpg",
  "recipeIngredient": [
    " 250g clean, mature ghee",
    "150ml (10 tbsp) warm, previously boiled water",
    "5ml spoon (1 tsp) powdered rock salt",
    "½ tsp table salt"
  ],
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": "http://schema.org/Comment",
    "userInteractionCount": "140"
  },
  "name": "Ankoles Eshabwe",
  "nutrition": {
    "@type": "NutritionInformation",
    "calories": "240 calories",
    "fatContent": "90 grams fat"
  },
  "prepTime": "PT15M",
  "recipeInstructions": "Dissolve both the rock and table salt in 75ml (half) the warm water. The water should be at room temperature. Sieve the solution with two nylon sieves to trap any impurities in the salt. Put the ghee in a small, clean bowl and stir it briskly with a small wooden masher in one direction, until smooth. If you do not have one, use a wooden spoon instead. Add the salt solution, a tablespoonful at a time, stirring briskly after each addition",
  "recipeYield": "1 bowl",
  "suitableForDiet": "http://schema.org/LowFatDiet"
}



    }
  },
  head () {
    return {
      title: 'how to make eshabwe -kachaq',
      __dangerouslyDisableSanitizers: ['script'],
      script: [{ innerHTML: JSON.stringify(this.structuredData), type: 'application/ld+json' }],
      meta: [
      { hid: 'description', name: 'description', content: ' Find and share everyday cooking inspiration on kachaq recipes. Discover African  recipes, African cooks, videos, and how-tos based on the African  food you love and the friends you follow. kachaq' },
      { property:'og:locale' , content:'af:' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property:'og:type' ,content:'website' },
      { property:'og:image' ,content:'https://kiliboid.pythonanywhere.com/media/media/ofada-sauce1.jpg' },
      { property:'og:title' ,content:'kachaq : African Recipes,Rootsman Foods and hunters basics' },
      { property: 'og:description' ,content:'Find and share everyday cooking inspiration on kachaq recipes. Discover African  recipes, African cooks, videos, and how-tos based on the African  food you love and the friends you follow. kachaq' },
      { property:'og:site_name' ,content: 'kachaq' },
      { property: 'og:url' ,content: 'https://kachaq.com/recipe/1'},
      {name:'twitter:card' ,content: 'summary_large_image'},
      {name:'twitter:description', content:'Find and share everyday cooking inspiration on kachaq recipes. Discover African  recipes, African cooks, videos, and how-tos based on the African  food you love and the friends you follow. kachaq'},
      { name:'twitter:creator' ,content: '@kachaq'},
      {name: 'twitter:site', content: '@kachaq'},
      { name:'twitter:title', content:'kachaq : African Recipes,Rootsman Foods and hunters basics'},
      { name:'twitter:image', content:'https://kiliboid.pythonanywhere.com/media/media/ofada-sauce1.jpg'},

      ]
    }
  },

  validate ({ params }) {
    return !isNaN(+params.id)
  },
  async asyncData ({ params, error }) {
    try {
      const { data } = await axios.get(`https://kiliboid.pythonanywhere.com/recipe/${+params.id}`)
      return {recipe:data}
    } catch (e) {
      error({ message: 'Recipe not found', statusCode: 404 })
    }
  },

}
</script>
<style>
.rounded-card{
    border-radius:10px;
}
</style>

