<template>
    <v-container grid-list-lg>
        <v-layout row>
            <v-flex xs12 class="text-xs-center display-1 font-weight-black my-5">Available African   Recipes @kachaq</v-flex>
            <h1>THE MARGIN OF SAFETY</h1>
            <div>

<span>IF WARREN BUFFETT DESIGNED MENUS,</span>

Most cookbooks <h3>on African Foods</h3> ignore how
unreliable recipes can be.
As scientist Nathan Myhrvold
points out, even if you follow the
exact same recipe using identical
equipment and ingredients, humidity
and altitude alone can create totally
different outcomes. If a cookbook
author is testing a recipe in Tahoe
during the winter and you try to
replicate it in Africa in July heat,
you might fail, even though you
follow it perfectly. Rather than hope
your environment is the same as
mine, We looked for bulletproof
recipes.
This is where the margin of
safety applies.
Warren Buffett is the most
successful investor of the 20th
century and a self-described “value
investor.” He aims to buy stocks at a
discount (below intrinsic value) so
that even with a worst-case scenario,
he can do well. This discount is
referred to as the “margin of safety,”
and it’s the bedrock principle of
some of the brightest minds in the
investing world (e.g., Joel
Greenblatt). It doesn’t guarantee a
good investment, but it allows room
for error. 2
In the world of cooking, We’ll apply
the margin of safety as follows: how
badly can you mangle the recipe and
still get something incredible? In real
estate, the adage is, “You make your
profit when you buy the property, not
when you sell it.” In cooking, it could
be, “You guarantee a good meal by
picking the recipes well, not by
following recipes well.”
Early wins are critical for
momentum, so we’ll guarantee them here at kachaq recipes.
            </div>
        </v-layout>
        <v-layout row wrap class="meal-plans">
            <v-flex xs12 sm12 md4>
                <v-card>
                    <v-responsive>
                        <v-img src="https://source.unsplash.com/hjCA3ecCXAQ" height="500px">
                            <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                        <span class="headline white--text">African Roots KETO</span>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>
                    </v-responsive>

                    <v-card-text>
                        <div>
                            <h3 class="headline mb-0">African Keto</h3>
                            <div>The Keto diet is a high-fat, adequate-protein, low-carbohydrate diet. The diet forces the body to burn fats rather than carbohydrates by putting the body into ketosis.
                            </div>
                        </div>
                    </v-card-text>
                      <v-card-actions>
                      like eshabwe<a href="/recipe/1">boom<v-icon>mdi-earth</v-icon></a>
                    </v-card-actions>


                </v-card>
            </v-flex>

            <v-flex xs12 sm12 md4>
                <v-card>
                    <v-responsive>
                        <v-img src="https://source.unsplash.com/6S27S6pZ6o0" height="500px">
                            <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                        <span class="headline white--text"> African Hunter PALEO</span>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>
                    </v-responsive>

                    <v-card-text>
                        <div>
                            <h3 class="headline mb-0">African Hunter Paleo</h3>
                            <div>The Paleo diet requires the predominant consumption of foods presumed to have been the only foods available to or consumed by humans during the ages of hunting Think of it like zenjathropus' delicacy or better.
                            </div>
                        </div>
                    </v-card-text>


                </v-card>
            </v-flex>

            <v-flex xs12 sm12 md4>
                <v-card>
                    <v-responsive>
                        <v-img src="https://source.unsplash.com/1SPu0KT-Ejg" height="500px">
                            <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                        <span class="headline white--text"> African Boring VEGAN</span>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>
                    </v-responsive>

                    <v-card-text>
                        <div>
                            <h3 class="headline mb-0"> Boring Vegan</h3>
                            <div>The vegan diet abstains from the use of animal products. The vegan diet does not consume meat, diary products, eggs or any all other animal-derived ingredients .
                            </div>
                        </div>
                    </v-card-text>


                </v-card>
            </v-flex>

        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'recipe',
    head () {
      return {
        title: 'kachaq| African Recipes ,African Food',
        meta: [
          { hid: 'description', name: 'description', content: ' Find and share everyday cooking inspiration on kachaq recipes. Discover African  recipes, African cooks, videos, and how-tos based on the African  food you love and the friends you follow. kachaq' },
          { property:'og:locale' , content:'af:' },
        { property:'og:type' ,content:'website' },
        { property:'og:image' , itemprop: 'image' ,content:'https://kiliboid.pythonanywhere.com/media/media/ofada-sauce1.jpg' },
        { property:'og:title' ,content:'kachaq : African Recipes,Rootsman Foods and hunters basics' },
        { property: 'og:description' ,content:'Find and share everyday cooking inspiration on kachaq recipes. Discover African  recipes, African cooks, videos, and how-tos based on the African  food you love and the friends you follow. kachaq' },
        { property:'og:site_name' ,content: 'kachaq' },
        { property: 'og:url' ,content: 'https://kachaq.com/recipe'},
        {name:'twitter:card' ,content: 'summary_large_image'},
        {name:'twitter:description', content:'Find and share everyday cooking inspiration on kachaq recipes. Discover African  recipes, African cooks, videos, and how-tos based on the African  food you love and the friends you follow. kachaq'},
        { name:'twitter:creator' ,content: '@kachaq'},
        {name: 'twitter:site', content: '@kachaq'},
        { name:'twitter:title', content:'kachaq : African Recipes,Rootsman Foods and hunters basics'},
        { name:'twitter:image', content:'https://kiliboid.pythonanywhere.com/media/media/ofada-sauce1.jpg'},

        ]
      }
    },

}
</script>

<style scoped>
</style>
