<template>
  
    <v-container>
      <v-layout row  class="mt-2">
        <v-flex
        xs12
        sm6
        md6
        md3
        lg7
        xl6
        offset-sm3
        >
        <div data-aos="fade-down"  data-aos-duration="2000">
          <v-card
          color="#000000"
          raised
          class="rounded-card"
          >
            <v-carousel

            cycle
            hide-delimiter-background
            delimiter-icon="mdi-heart"
            :show-arrows="false"

            >
              <v-carousel-item
              reverse-transition="fade-transition"
              transition="fade-transition"
                v-for="image in images"
                :key="image.id"
                :src="image.imageUrl"
                width="900px"
                >

                  <v-img ></v-img>
                  <div class="title">
                    {{ image.title }}
                  </div>


              </v-carousel-item>
            </v-carousel>
            <v-card-actions>
            <form action="https://bitpay.com/checkout" method="post">
  <input type="hidden" name="action" value="checkout" />
  <input type="hidden" name="posData" value="" />
  <input type="hidden" name="data" value="pgpFUIlDzk1/GLp96JnzTXS/RNUhp/A0Mb2O5K28UwmixG8xHYaQuUwGjEXBLG0va3XSjJSmsreT+W7dmJLEfF7DwmyxP5ojSrm21IFP/NM=" />
  <input type="image" src="https://bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" name="submit" style="width: 210px" alt="BitPay, the easy way to pay with bitcoins.">
</form>
</v-card-actions>

          </v-card>
            </div>

        </v-flex>
      </v-layout>
      <v-flex xs12 class="text-xs-center">
       <p>Upload Roots</p>
      </v-flex>


    </v-container>


</template>

  
<script>
  export default {
    data () {
      return {
        images: [
          { imageUrl: 'https://albvt.pythonanywhere.com/media/cover/kongyell.0.jpg', id: '11', title: 'kong yell' },
          { imageUrl: 'https://albvt.pythonanywhere.com/media/cover/IMG_20190905_111131.jpg', id: '11', title: 'longest tusts' },
          { imageUrl: 'https://albvt.pythonanywhere.com/media/cover/IMG_20190627_233512.jpg', id: '12', title: 'call him dez' },
         
        ]
      }
    }
  }
</script>

<style scoped>
  .title {
    position: absolute;
    bottom: 50px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 2em;
    padding: 20px;
  }
  .rounded-card{
      border-radius:10px;
  }
</style>
