<template>
  <v-container
  fluid
  grid-list-md
  
  >
    <v-layout
    align-center
    justify-center
    row
    >
      <v-flex
      xs12
      sm6
      md12
      lg7
      xl6
      offset-sm3
      >


        <v-container fluid>
          <v-row>
            <v-col
              v-for="n in 9"
              :key="n"
              class="d-flex child-flex"
              cols="4"
            >
              <v-card flat tile class="d-flex">
                <v-img
                  :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
                  :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
                  aspect-ratio="1"
                  class="grey lighten-2"
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
    


     </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default{

  name:"gallery",

}
</script>
<style>
</style>
