<template>
<v-container>
  <v-layout
    align-center
    justify-center
    row
  >
    <homecarousel></homecarousel>
    <homedetails></homedetails>
  </v-layout>
</v-container>
</template>
<script>
import homecarousel from './landed/homecarousel.vue'
import homedetails from './landed/homedetails.vue'
export default {
  components:{homecarousel, homedetails},
}
</script>
<style>
</style>
