<template>
<div class="container">
  <v-container
    fluid
    grid-list-md
    pa-2
  >
    <v-layout
     align-center
     justify-center
     row
     >
      <v-flex
        xs12
        sm6
        md12
        lg7
        xl6
        offset-sm3
        >
        <v-card
        color="#000000"
        raised
        class="rounded-card"
        
        >


          <!--<v-list-item>
            <v-list-item-avatar color="blue-gray darken-4"></v-list-item-avatar>

            <v-list-item-content>
            </v-list-item-content>
            <v-spacer></v-spacer>
            <v-btn icon><v-icon>mdi-account-plus-outline</v-icon></v-btn>
          </v-list-item>-->
        <v-img
        title="African Art kachaq Vist Africa"
        :src="image.ImageFile" 
        alt="African Digital Art and gifs,Africa images kachaq"
        lazy-src="https://picsum.photos/id/11/10/6"
        >
        <v-card-text>{{image.ImageFile_tag}}</v-card-text>
        </v-img>
          <v-card-actions>
            <form action="https://bitpay.com/checkout" method="post">
  <input type="hidden" name="action" value="checkout" />
  <input type="hidden" name="posData" value="" />
  <input type="hidden" name="data" value="pgpFUIlDzk1/GLp96JnzTXS/RNUhp/A0Mb2O5K28UwmixG8xHYaQuUwGjEXBLG0v66ERqs23igvKeWqLZ2H23wG0CmeuCJOhROFH1rv+Vl0=" />
  <input type="image" src="https://bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" name="submit" style="width: 210px" alt="BitPay, the easy way to pay with bitcoins.">
</form>

            <v-spacer></v-spacer>
             <v-btn icon
            @click="downloadWithAxios"><v-icon>mdi-download-outline</v-icon></v-btn>
          </v-card-actions>
            
          </v-card-actions>
          <span>{{image.ImageFile_caption}}</span>
        </v-card>


      </v-flex>
    </v-layout>
  </v-container>
</div>

</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import axios from 'axios'
export default {
  name:"ImageCard",
    props: ["image",],

  data() {
    return {
      url: this.image.ImageFile
    }
  },


  methods: {

    forceFileDownload(response){
      const url = window.URL.createObjectURL(new Blob([response.data]))
      const link = document.createElement('a')
      link.href = url
      link.setAttribute('download', 'kachaq.jpg') //or any other extension
      document.body.appendChild(link)
      link.click()
    },

    downloadWithAxios(){
      axios({
        method: 'get',
        url: this.url,
        responseType: 'arraybuffer'
      })
      .then(response => {

        this.forceFileDownload(response)

      })
      .catch(() => console.log('error occured'))
    }
  }




}
</script>
<style>
.rounded-card{
    border-radius:10px;
}

</style>
