<template>
<div class="container">
  <v-container
    fluid
    grid-list-md
    pa-2
  >
    <v-layout
     align-center
     justify-center
     row
     >
      <v-flex
        xs12
        sm6
        md12
        lg7
        xl6
        offset-sm3
        >

        <v-card
        color="black"
        raised
        class="rounded-card"
        >
        <v-img
         :src="image.ImageFile"
          >
          {{image.ImageFile_tag}}
        </v-img>
        <span>{{image.ImageFile_caption}}</span>
        </v-card>


      </v-flex>


    </v-layout>
  </v-container>
</div>

</template>
<script>
export default{
  name:"searchcard",
  props: ["image",],
}
</script>
<style>
</style>
