<template>

    <v-container
      fluid
      grid-list-md
      pa-2
    >
      <v-layout
      align-center
      justify-center
       row
       >
        <v-flex
         xs12
         sm6
         >
          <v-card
           color="grey darken-2"
           class="rounded-card"
           >
           <v-btn color="black" icon >
             <NuxtLink :to="'/user/'+image.ImageFile_owner"><v-icon>mdi-account</v-icon>
                 </NuxtLink>
           </v-btn>
              <v-carousel
              contain
              cycle
              height="400"
              hide-delimiter-background
              show-arrows-on-hover
              >
                 <v-carousel-item

                 :src="image.ImageFile"
                 reverse-transition="fade-transition"
                 transition="fade-transition"
                 ></v-carousel-item>

                 </v-carousel>


            <v-card-actions>
              <button @click="this.$store.state.cart.commit(pushImageToCart(image.id))">cartmanboy</button>
              <v-spacer></v-spacer>
              <!--magic other button-->

              <v-btn
              text
              v-on:click="addImageToCart(image)"
              >
                Add-To-Cart
              </v-btn>
              <v-spacer></v-spacer>
              <button @click="addImageToCart(image)">add to cart</button>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
</template>

<script>
import axios from 'axios'

export default {
head () {
    return {
      title: this.image.ImageFile_tag,
      meta: [
        { hid: 'description', name: 'description', content: 'buy with bitcoin,kachaq,African digital art,African Images,gifs' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
          { hid: 'keywords', name: 'keywords', content: ' African images, photos, gif, gifs, memes, pictures, new pictures, reaction gifs ,African landscape,kachaq' }
      ]
    }
  },
  validate ({ params }) {
    return !isNaN(+params.id)
  },
  async asyncData ({ params, error }) {
    try {
      const { data } = await axios.get(`https://kiliboid.pythonanywhere.com/image/${+params.id}`)
      return {image:data}
    } catch (e) {
      error({ message: 'image not found', statusCode: 404 })
    }
  },
  /*trigger method in button*/
  method:{
    addImageToCart(image){
      this.$store.state.image.dispatch('addImageToCart',image)
    },
    submit(){
      
    }
  }
}
</script>

<style scoped>
.rounded-card{
    border-radius:10px;
}
</style>
