<template>
<div>

  <div 
    data-aos="zoom-in-up"
  data-aos-duration="500"
  >
    <imagecard
    :image ="image"
    v-for="image in images"
    v-bind:key="images.id"
    ></imagecard>
  </div>
  <adsbygoogle />
  </div>


</template>

<script>
import imagecard from '~/components/imagecard.vue'
import axios from 'axios'

export default{
  head: {
     title: ' kachaq~market, African Images,Africa Digital Art',
     meta: [
       { hid: 'description', name: 'description', content: 'Bitpay payment,image, African images, photos, gif,  gifs, memes, pictures, new pictures, reaction gifs,African digital art' },
       { hid: 'keywords', name: 'keywords', content: ' African images, photos, gif, gifs, memes, pictures, new pictures, reaction gifs,African landscape,photography,digital art' },
       { name: 'viewport', content: 'width=device-width, initial-scale=1' },
       { property:'og:locale' , content:'af:' },
      { property:'og:type' ,content:'website' },
       { property:'og:image' , itemprop: 'image' ,content: 'https://albvt.pythonanywhere.com/media/cover/IMG_20190901_063501.jpg' },
      { property:'og:title' ,content:'kachaq : African Digital Art,Rootsman Wilding,African Images' },
      { property: 'og:description' ,content:'buy digital African Art with bitcoin,African landscape,African gifs,and rootsman pics kachaq' },
      { property:'og:site_name' ,content: 'kachaq' },
      { property: 'og:url' ,content: 'https://kachaq.com/'},
      {name:'twitter:card' ,content: 'summary_large_image'},
      {name:'twitter:description', content:'buy digital African Art with bitcoin,African landscape,African gifs,and rootsman pics kachaq'},
      { name:'twitter:creator' ,content: '@kachaq2'},
      {name: 'twitter:site', content: '@kachaq'},
      { name:'twitter:title', content:'kachaq : African Digital Art,Rootsman Wilding,Africa Images'},
      { name:'twitter:image', content:'https://albvt.pythonanywhere.com/media/cover/IMG_20190901_063501.jpg'},

     ],
     noscript: [
       { innerHTML: 'Body No Scripts', body: true }
     ],
     script: [
       { src: '/head.js' },
       // Supported since 1.0
       { src: '/body.js', body: true },
       { src: '/defer.js', defer: '' }
     ]
   },
  components:{imagecard,},

  async asyncData () {
   const { data } = await axios.get('https://kiliboid.pythonanywhere.com/image/')
   return { images: data }
 }

  /*computed: {
    images(){
      return this.$store.state.image.all
    }
  }*/

}
</script>

<style scoped>

</style>
