<template>
  <div>
    <h1>where in Africa Today??</h1>

            <v-text-field
              label="travel Africa"
              outlined
              color="#FFE700"
            ></v-text-field>
            <!--tryna get this search shit working-->
            <div
            v-for="image in images"
            v-bind:key="images.id"
            >
              <searchcard
              :image ="image"
              >
              </searchcard>
            </div>




  </div>
</template>

<script>
import searchcard from '~/components/searchcard.vue'
import axios from 'axios'
export default {
  components:{searchcard,},

  async asyncData () {
   const { data } = await axios.get('https://kiliboid.pythonanywhere.com/search/?search=creat')
   return { images: data }
 }

}
</script>
<style>

</style>