<template>
  <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <!-- @submit handles any form of submission. -->
  <!-- .prevent keeps the event from bubbling around and doing anything else. -->
      <form @submit.prevent="handleSubmit" >

        <label> choose Art File
            <input type="file" id="ImageFile" ref="ImageFile" v-on:change="handleFileUpload()"/>
          </label>

          <p>
          <!-- <input type="text" placeholder='Tag' id='ImageFile_tag' v-model="ImageFile_tag" required/> -->
           <v-text-field v-model="ImageFile_tag"  color="purple" label="tag" ></v-text-field>
         </p>

         <p>
           <v-text-field v-model="ImageFile_caption"  color="purple" label="caption" ></v-text-field>
        <!--  <input type="text" placeholder='caption' id='caption' v-model="ImageFile_caption" required/>-->
        </p>

         <p>
          <input type="number" placeholder='owner' id='ImageFile_owner' v-model="ImageFile_owner" required/>
        </p>

        <p>
         <input type="number" placeholder='clap' id='ImageFile_claps' v-model="ImageFile_claps" required/>
       </p>


       <v-btn v-on:click="handleSubmit()">upload <v-icon>mdi-upload-outline</v-icon></v-btn>
      <!--  <button v-on:click="handleSubmit()">Submit</button> -->
     </form>

    </div>
  </div>
</template>

<script>
import axios from 'axios'

  export default {
    /*
      Defines the data used by the component
    */
    data(){
      return {

        ImageFile: '',
        ImageFile_tag: '',
        ImageFile_caption: '',
        ImageFile_owner: '',
        ImageFile_claps: '',

      }
    },

    methods: {
      /*
        Submits the file to the server
      */
      handleSubmit(){
        /*
                Initialize the form data
            */
            let formData = new FormData();

            /*
                Add the form data we need to submit
            */
            formData.append('ImageFile', this.ImageFile);
            formData.append('ImageFile_tag', this.ImageFile_tag);
            formData.append('ImageFile_caption', this.ImageFile_caption);
            formData.append('ImageFile_owner', this.ImageFile_owner);
            formData.append('ImageFile_claps', this.ImageFile_claps);

        /*
          Make the request to the POST /url URL
        */  let url = 'http://127.0.0.1:8000/upload/';
            axios.post( url,
                formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
              }
            ).then(function(){
          console.log('SUCCESS!!');
        })
        .catch(function(){
          console.log('FAILURE!!');
        });
      },

      /*
        Handles a change on the file upload
      */
      handleFileUpload(){
        this.ImageFile = this.$refs.ImageFile.files[0];

      }
    }
  }
</script>
