<template>
  <v-app 
  style="background: #000000;"
  >
    
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      hide-on-scroll
      src="https://picsum.photos/1920/1080?random"
      fade-img-on-scroll
      scroll-target="#scrolling-techniques-5"
      scroll-threshold="500"
      color="#000000"
    >
      <v-toolbar-title v-text="title" color="pink" />
      
      <v-spacer />
      
      <a style="text-decoration:none" href="/search"><v-btn icon><v-icon color="pink">mdi-magnify</v-icon></v-btn></a>
      
    </v-app-bar>
    <v-content>
      <v-container>
      <sidebar></sidebar>
        <nuxt />
      </v-container>
      
    </v-content>


   <v-footer
      dark
      padless
    >
      <appfooter>

      </appfooter>
    </v-footer>
    
  </v-app>
</template>

<script>
import sidebar from './sidebar.vue'
import appfooter from './appfooter.vue'
export default {
data () {
    return {
      title: 'Kachaq'
    }
  },
  components:{sidebar,appfooter},
  

  
}
</script>

