<template>
  <v-app dark>
    <h1 v-if="error.statusCode === 404">
      {{ pageNotFound }}
    </h1>
    <h1 v-else>
      {{ otherError }}
    </h1>
    <h4>Sorry,don't know how you Got here but Software breaks alot And we shall fix it as immediately reported</h4>
    <span>check out our amazing content</span>
    <ul>
      <li>
        <a href="/image">AfricanArt</a>
      </li>
      <li>
        <a href="/recipe">African Recipes</a>
      </li>
      <li>
        <a href="/astro">Black Astronomy</a>
      </li>
    </ul>
    <NuxtLink to="/">
      Home page
    </NuxtLink>
  </v-app>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
