<template>
  <div class="centercbtn">
    <v-dialog
      v-model="dialog"
    >
      <template v-slot:activator="{ on }">

        <v-btn
          color="#7DF9FF"
          v-on="on"
          fixed
          icon
          @click.stop="drawer = !drawer"
        >

        <v-badge
          color="red"
          overlap
        >
        <template slot="badge">
          1
        </template>

        <v-icon >mdi-hexagon-multiple</v-icon>
        </v-badge>

        </v-btn>
      </template>

      <v-navigation-drawer
        v-model="drawer"
        :mini-variant="miniVariant"
        :clipped="clipped"
        fixed
        app
        color="#000000"
      >
        <v-list>
          <v-list-item
            v-for="(item, i) in items"
            :key="i"
            exact
          >
            <v-list-item-action>
              <v-icon color="pink">{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
            <a style="text-decoration:none" :href="item.to"> <v-list-item-title v-text="item.title" /></a>
             
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </v-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      dialog: false,
      drawer: false,
      miniVariant: false,
      clipped: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'kachaq',
          to: '/'
        },
        {
          icon: 'mdi-food-drumstick',
          title: 'AfricanRecipes',
          to: '/recipe'
        },
        {
          icon: 'mdi-image-plus',
          title: 'AddYours',
          to: '/dashboard'
        },
         {
          icon: 'mdi-image',
          title: 'AfricanArt',
          to: '/image'
        },
         {
          icon: 'mdi-space-station',
          title: 'AfricanAstronomy',
          to: '/astro'
        },
      ],

    }
  },
}
</script>

<style>
.rounded-card{
    border-radius:10px;
}
.centercbtn{
  float:right;
  position: relative;
  left:-105%;
  text-align:left;
  z-index:15;
}
</style>
