<template>
  <div>
  <h2>kachaq</h2>
  <client-only>
  
    <masonry
    :cols="{default: 4, 700: 3, 350: 2, 250: 1}"
    :gutter="{default: '30px', 700: '15px'}"
  >
  <div v-for="(item, index) in items" :key="index">
    
    <v-card
    raised
    class="rounded-card"
    color="#000000"
    >
      <v-img 
      title="kachaq African Art, African Digital art" 
      :src=" 'https://kiliboid.pythonanywhere.com/'+item.ImageFile" 
      alt="African Digital Art, kachaq,"
      lazy-src="https://picsum.photos/id/11/10/6"
      ></v-img>

    </v-card>
    <div>
{{item.ImageFile_tag}}
</div>

  </div>
</masonry>

<home></home>
<client-only/>
  </div>

</template>
<script>
import axios from 'axios'
import home from '~/components/home'

export default{
  data() {
      return {
        structuredData: {
          "@context": "http://schema.org",
           "@type": "WebSite",
           "url": "https://kachaq.com",
           "name": "kachaq",
        },
      }
    },
    head() {
      return {
        __dangerouslyDisableSanitizers: ['script'],
        script: [{ innerHTML: JSON.stringify(this.structuredData), type: 'application/ld+json' }],
        title: 'kachaq | The Magic of African Internet,African Images,African Digital Art',
          meta: [
      { charset: 'utf-8' },
      { name: 'theme-color' , content: '#1f3139' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
         { hid: 'keywords', name: 'keywords', content: 'Alkebulan,Alkebulan Art, Africa, AfricanImages, Afro Art, African Art, image upload, image direct sales, lol, humor, buy with bitcoin, comment, share, kachaq, kachaq.com, African Astronomy' },
      { hid: 'description', name: 'description', content: 'Discover The Magic of Alkebulan Internet at Kachaq, a community powered entertaiment destination. Digital African Art with bitcoin,African landscape,African gifs,and rootsman pics,African Recipes, images, fiction gifs, share photos, share images, latest images, funny, kachaq' },
      { property:'og:locale' , content:'af-ZA' },
      { property:'og:type' ,content:'website' },
      { property:'og:title' ,content:'kachaq | The Magic Of African Internet' },
      { property: 'og:description' ,content:'Discover The Magic of Alkebulan Internet at Kachaq, a community powered entertaiment destination. Digital African Art with bitcoin,African landscape,African gifs,and rootsman pics,African Recipes' },
      { property:'og:site_name' ,content:'kachaq' },
      { property:'og:image' , itemprop: 'image' ,content: 'https://source.unsplash.com/tKgcMR8saYA' },
      { property:'og:url' ,content: 'https://kachaq.com/'},
      {name:'twitter:card' ,content: 'summary_large_image'},
      {name:'twitter:description', content:'Discover The Magic of Alkebulan Internet at Kachaq, a community powered Information entertaiment destination. Digital African Art with bitcoin,African landscape,African gifs,and rootsman pics,African Recipes, images, fiction gifs, share photos, share images, latest images, funny, kachaq'},
      { name:'twitter:creator' ,content: '@kachaq'},
      {name: 'twitter:site', content: '@kachaq'},
      { name:'twitter:title', content:'kachaq | The Magic of African Internet'},
      { name:'twitter:image', content:'https://source.unsplash.com/tKgcMR8saYA'},

    ],
      }
    },
  async asyncData () {
   const { data } = await axios.get('https://kiliboid.pythonanywhere.com/random/')
   return { items: data }
 },
 components:{home},
}
</script>
<style>
.rounded-card{
    border-radius:10px;
}

</style>
