<template>
  <auth></auth>
</template>
<script>
import auth from '~/components/auth/auth.vue'
export default{
head () {
    return {
      title: 'kachaq |login',
      meta: [
        { hid: 'description', name: 'description', content: ' African images, photos, gif,  gifs, memes, pictures, new pictures, reaction gifs, kachaq,kachaq.com' }
      ]
    }
  },
  components:{auth,}
}
</script>
<style>
</style>
