<template>
  <v-container
  fluid
  grid-list-md
  pa-2
  >
    <v-layout
    align-center
    justify-center
    row
    >
      <v-flex
      xs12
      sm6
      md12
      lg7
      xl6
      offset-sm3
      >
      <v-card class="elevation-12">
                    <v-toolbar dark color="primary">
                        <v-toolbar-title>Login </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                <div>Welcome to kachaq</div>
                <p class="display-1 text--primary">
                  Tour•Afrika•Wiva•Scroll 📜
                </p>
                   </v-card-text>


                    <v-icon>mdi-google</v-icon><googleauth></googleauth>
                </v-card>

      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import googleauth from './googleauth.vue'
export default{
  components:{googleauth,},
  name:"auth",


}
</script>
<style>
</style>
